{
  "name": "auldey-root",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "ui/css/login.css",
      "configJson": "{\"compiler-css\":{\"path\":\"ui/css/login.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"ui/css/login-dist.css\"}"
    },
    {
      "path": "ui/css/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"ui/css/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"ui/css/style-dist.css\"}"
    },
    {
      "path": "ui/css/style.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"ui/css/style.scss\",\"libSass\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"customOutput\":\"ui/css/style.css\"}"
    },
    {
      "path": "favicon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"favicon.png\",\"size\":777,\"initialSize\":777,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/js/jquery.init.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"ui/js/jquery.init.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"ui/js/jquery.init-dist.js\"}"
    },
    {
      "path": "ui/js/jquery.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"ui/js/jquery.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"ui/js/jquery-dist.js\"}"
    },
    {
      "path": "ui/js/jquery.plugins.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"ui/js/jquery.plugins.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"ui/js/jquery.plugins-dist.js\"}"
    },
    {
      "path": "ui/js/modernizr.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"ui/js/modernizr.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"ui/js/modernizr-dist.js\"}"
    },
    {
      "path": "wp-content/themes/auldey/style-editor.css",
      "configJson": "{\"compiler-css\":{\"path\":\"wp-content/themes/auldey/style-editor.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"wp-content/themes/auldey/style-editor-dist.css\"}"
    },
    {
      "path": "wp-content/themes/auldey/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"wp-content/themes/auldey/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"wp-content/themes/auldey/style-dist.css\"}"
    },
    {
      "path": "ui/js/min/jquery.init-min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"ui/js/min/jquery.init-min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"ui/js/min/jquery.init-min-dist.js\"}"
    },
    {
      "path": "ui/js/min/jquery.plugins-min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"ui/js/min/jquery.plugins-min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"ui/js/min/jquery.plugins-min-dist.js\"}"
    },
    {
      "path": "ui/images/404.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/404.png\",\"size\":150105,\"initialSize\":150105,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/banner.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/banner.jpg\",\"size\":271580,\"initialSize\":271580,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-brand.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/bg-brand.jpg\",\"size\":663665,\"initialSize\":663665,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-innovative.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/bg-innovative.jpg\",\"size\":71502,\"initialSize\":71502,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-external.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/bg-external.png\",\"size\":7965,\"initialSize\":7965,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-popup.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/bg-popup.png\",\"size\":7714,\"initialSize\":7714,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-subnav-m.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/bg-subnav-m.png\",\"size\":7193,\"initialSize\":7193,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-subnav.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/bg-subnav.png\",\"size\":8874,\"initialSize\":8874,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/bg-wr.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/bg-wr.jpg\",\"size\":371660,\"initialSize\":371660,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/brand-wr.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/brand-wr.png\",\"size\":76721,\"initialSize\":76721,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/brandgrid-rt.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/brandgrid-rt.png\",\"size\":105983,\"initialSize\":105983,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/brandgrid-sr.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/brandgrid-sr.png\",\"size\":87717,\"initialSize\":87717,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/brandgrid-sw.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/brandgrid-sw.png\",\"size\":127855,\"initialSize\":127855,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/brandgrid-wr.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/brandgrid-wr.jpg\",\"size\":31151,\"initialSize\":31151,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/ico-hazard.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/ico-hazard.png\",\"size\":1819,\"initialSize\":1819,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/ico-search.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/ico-search.png\",\"size\":906,\"initialSize\":906,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/jrd.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/jrd.png\",\"size\":4760,\"initialSize\":4760,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/logo-footer.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/logo-footer.png\",\"size\":4375,\"initialSize\":4375,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/logo.png\",\"size\":8538,\"initialSize\":8538,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/logo_racetin.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/logo_racetin.png\",\"size\":24920,\"initialSize\":24920,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/logo_skyrover.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/logo_skyrover.png\",\"size\":22827,\"initialSize\":22827,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/logo_superwings.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/logo_superwings.png\",\"size\":33347,\"initialSize\":33347,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/logo_waveracers.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/logo_waveracers.png\",\"size\":31237,\"initialSize\":31237,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/menu-search.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/menu-search.png\",\"size\":847,\"initialSize\":847,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/nav-faqs.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/nav-faqs.png\",\"size\":16880,\"initialSize\":16880,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/nav-mans.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/nav-mans.png\",\"size\":31263,\"initialSize\":31263,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/nav-rt.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/nav-rt.png\",\"size\":54929,\"initialSize\":54929,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/nav-sr.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/nav-sr.png\",\"size\":73818,\"initialSize\":73818,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/nav-sw.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/nav-sw.png\",\"size\":77161,\"initialSize\":77161,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/nav-wr.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/nav-wr.png\",\"size\":72110,\"initialSize\":72110,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/play-arrow.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/play-arrow.png\",\"size\":2295,\"initialSize\":2295,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/search-manual.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/search-manual.png\",\"size\":13907,\"initialSize\":13907,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/search-ph.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/search-ph.jpg\",\"size\":12776,\"initialSize\":12776,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/share-bottom.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/share-bottom.png\",\"size\":12618,\"initialSize\":12618,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/share-top.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/share-top.png\",\"size\":12011,\"initialSize\":12011,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/side-superwings.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/side-superwings.jpg\",\"size\":104658,\"initialSize\":104658,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/sil-superwings.png",
      "configJson": "{\"compiler-png\":{\"path\":\"ui/images/sil-superwings.png\",\"size\":197120,\"initialSize\":197120,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "ui/images/vid-lg.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"ui/images/vid-lg.jpg\",\"size\":279917,\"initialSize\":279917,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "wp-content/themes/auldey/screenshot.png",
      "configJson": "{\"compiler-png\":{\"path\":\"wp-content/themes/auldey/screenshot.png\",\"size\":13483,\"initialSize\":13483,\"optimized\":false,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7890,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "httpdocs",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "205.186.136.183",
      "port": 21,
      "user": "auldeyftp",
      "password": "u96mCl4%"
    },
    "sftp": {
      "host": "205.186.136.183",
      "port": 22,
      "usePrivateKey": false,
      "username": "auldeyftp",
      "password": "u96mCl4%",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "ui/js/jquery.init.js",
        "ctime": "2017-01-20T18:34:15.000Z",
        "mtime": "2017-01-20T18:34:15.000Z",
        "size": 10016
      },
      {
        "file": "ui/css/style.css",
        "ctime": "2017-01-20T18:39:16.000Z",
        "mtime": "2017-01-20T18:39:16.000Z",
        "size": 97300
      }
    ]
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"sourceMap\":true,\"compiler-sass\":{\"libSass\":false,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": true,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}